<h1>Welcome to the home page</h1>
<hr></hr>
<div>
  <p>
    Bacon ipsum dolor amet pork pork loin jerky frankfurter. 
    Corned beef strip steak cupim bresaola drumstick rump pig salami. 
    Shankle strip steak leberkas shank chuck doner. 
    Tongue biltong kielbasa bacon cupim. Salami short ribs prosciutto rump shank ribeye capicola. 
    Fatback meatloaf meatball strip steak alcatra. Ribeye venison spare ribs short loin andouille pancetta.
  </p>
  <p>
   Shoulder chicken tail pork belly. 
   Corned beef pork belly ham hock salami. 
   Beef ribs chuck shankle, biltong fatback ball tip shank turkey pork loin corned beef bresaola hamburger short loin jowl strip steak. Burgdoggen jowl bacon, ham hock spare ribs drumstick tongue.
   Pork belly tri-tip capicola flank, jowl boudin ham meatloaf sausage shankle pork chop ground round. 
  </p>
</div>

<%= link_to 'About', about_path %>